$header-background-color: rgb(46, 58, 70);
$header-height: 70px;
$main-font-color: white;
$second-font-color: grey;

$sel-height: $header-height - 20px;
$sel-font-size: 15px;

$main-background-color: #1E2D3B;
$main-height: calc((100vh - #{$header-height}) - #{$sel-height});
$main-padding: 35px 0;

$card-height: 360px;
$card-padding: 20px;
$card-margin: 15px 20px;
$card-max-width-img: 100%;
$card-title-margin: 20px 0;
$card-title-font-size: 22px;
